.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  justify-items: left;
}

.item {
  padding: 10px;
  box-sizing: border-box;
  min-width: 0;
  flex: 100% 0 1;
}

@media (min-width: 600px) {
  .item {
    flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  .item {
    flex-basis: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .item {
    flex-basis: 25%;
  }
}
