.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 0 30px;
}

@media (min-width: 1200px) {
  .header {
    flex-direction: row;
  }
}
