body {
  background-color: #c8c8c8;
  background-position: 50% 0;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: calc(100% - 30px);
  margin: 0 auto;
  max-width: 1240px;
}

img {
  width: 100%;
  display: block;
}

@media (min-width: 900px) {
  .container {
    width: calc(100% - 80px);
  }
}
